.row{
  background: linear-gradient(rgba(151, 192, 231, 0.452), rgba(126, 239, 203, 0.353)),
      url('https: //www.simplilearn.com/ice9/free_resources_article_thumb/What_is_the_Importance_of_Technology.jpg') center center / cover;  border-radius: 15px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inner_flex{
  text-align: center;
}
.welcome-text{
  background-color: #1888C9;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 12px;
  padding: 20px;
}
