.flagship-container{
background: linear-gradient(rgba(0, 6, 12, 0.793), rgba(1, 10, 28, 0.785)),
    url('../images/bg1.jpeg') center center / cover;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inner_flex{
  text-align: center;
}
h2{
  color: #fff !important;
  text-transform: uppercase !important;
  text-align: center !important;

}
.child_box h3{
color: #fff;
text-transform: uppercase;
}
.child_box p{
  color: #fff;
  text-transform: capitalize;
  font-size: 10px;
  margin: 0;
}
.label-values p{
  color: #F8AB4F;
  font-size: 30px;
  font-weight: bolder;
}

.welcome-text{
  background-color: #1888C9;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 12px;
  padding: 20px;
}
